################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ArduinoUDPRemote/bin/Debug
/ArduinoUDPRemote/obj/Debug
/packages/MJPEG-Decoder.1.2
/.vs/ArduinoUDPRemote/v14
